body {
    background-color: #EAE7DC;
    display: flex;
    justify-content: center;
}

/* 
header bar stylings
*/

header {
    background-color: #EAE7DC;
    position: fixed;
    display: flex;
    align-items: center;
    border: 2px solid green;
    border-radius: 10px;
    z-index: 99;
    height: 10vh;
}

#logo_small {
    width: 100px;
}

#menulist {
    width: 80vw;
    height: 10vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menulistitem {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 18px;
    border: 2px solid darkgreen;
    border-radius: 18px;
    font-size: 20px;
}

.menulistitem form {
    display: flex;
    align-items: center;
    width: 20vw;
    height: 70px;
}

.menulistitem .hyperlinks {
    color: #8D8D8A;
    text-decoration: none;
    -webkit-transition: color .6s ease-in-out;
    -o-transition: color .6s ease-in-out;
    transition: color .6s ease-in-out;
}

.menulistitem:hover .hyperlinks {
    color: red;
}

#recipeWrapper {
    border: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
}

.recipe_head_wrapper div {
    height: 50px;
    border: 2px solid grey;
    border-radius: 5px;
}

.recipe_head_wrapper {
    display: flex;
    justify-content: space-evenly;
}

#recipeTitle {
    width: 60%;
}

#reviewsPopup {
    background-color: #8E8D8A;
    position: absolute;
    opacity: 0.0;
    transition: opacity .5s ease-in-out;
    transform: translateZ(-10px);
    z-index: -1;
}

#reviewsWrapper {
    display: flex;
    justify-content: center;
}

#showReviewsPopupBtn {
    width: 10vw;
}

#closeReviewsPopupBtn {
    width: 10vw;
    height: 5vw;
}


.container {
    width: 95vw;
    transform: translateY(70px);
    margin-top: 10px;
}



.popupImageValidator {
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity .8s ease-in-out;
}

.wrapper_logo_big {
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}