body {
    background-color:#EAE7DC;
    display: flex;
    justify-content: center;
}

/* 
header bar stylings
*/

header {
    background-color:#EAE7DC;
    position: fixed;
    display: flex;
    align-items: center;
    border: 2px solid green;
    border-radius: 10px;
    z-index: 99;
    height: 10vh;
}

#logo_small {
    width: 100px;
}

#menulist {
    width: 80vw;
    height: 10vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menulistitem{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 18px;
    border: 2px solid darkgreen;
    border-radius: 18px;
    font-size: 20px;
}

.menulistitem form {
    display: flex;
    align-items: center;
    width: 20vw;
    height: 70px;
}

.menulistitem .hyperlinks {
    color:#8D8D8A;
    text-decoration: none;
    -webkit-transition: color .6s ease-in-out;
    -o-transition: color .6s ease-in-out;
    transition: color .6s ease-in-out;
}

.menulistitem:hover .hyperlinks {
    color: red;
}

.container{
    transform: translateY(70px);
    margin-top: 10px;
}


.recipe_head_wrapper {
    width: 8vw;
}

.popupImageValidator {
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity .8s ease-in-out;
}

.wrapper_logo_big{
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

