@media screen and (orientation: portrait) {
  header {
    background-color: #EAE7DC;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid green;
    border-radius: 1vw;
    z-index: 99;
    height: 5vw;
  }
  body {
    background-color: #EAE7DC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menulistDesktop {
    display: none;
  }
  #menulistMobile {
    width: 80vw;
    height: 5vw;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #menulistMobileShowBtn {
    font-size: large;
  }
  #sideMobileMenu {
    position: absolute;
    left: -100vw;
    width: 80vw;
    height: 20vw;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
}

@media screen and (orientation: landscape) {
  body {
    background-color: #EAE7DC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
    color: #4495D4;
  }
  header {
    background-color: #EAE7DC;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
  }
  .width10 {
    width: 9.7%;
  }
  .width16 {
    width: 16.43%;
  }
  .width25 {
    width: 24.7%;
  }
  .headline {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 2vw;
  }
  #menulistDesktop {
    width: 90vw;
    height: 4vw;
    padding: 0;
    margin: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #menulistMobile,
  #sideMobileMenu {
    display: none;
  }
  .logoMenuListItem .hyperlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo_small {
    width: 8vw;
  }
  .menulistitem,
  .logoMenuListItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
  }
  .menulistitem form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20vw;
    height: 1.5vw;
    background-color: #EAE7DC;
  }
  #search_term {
    background-color: transparent;
    margin: 0;
    height: 80%;
  }
  .menulistitem .hyperlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #8D8D8A;
    text-decoration: none;
    -webkit-transition: color .6s ease-in-out;
    transition: color .6s ease-in-out;
  }
  .menulistitem:hover .hyperlinks {
    color: red;
  }
  #baseWrapper {
    border: 2px solid grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80vw;
    -webkit-transform: translateY(4vw);
            transform: translateY(4vw);
    margin-top: 60px;
    border-radius: 1vw;
  }
  .recipeWrapper {
    width: 75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: .8vw;
    margin-top: 2vw;
  }
  .recipeWrapper .input-field {
    margin-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recipeHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 3vw;
    width: 100%;
  }
  .recipeHeaderItem {
    border: 2px solid none;
    border-radius: 10px;
    background-color: lightgrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recipeButtonWrapper {
    border-radius: 10px;
    padding-top: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 50%;
  }
  #readRecipeTitle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recipeTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 2vw;
  }
  #editRecipeBtn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 100%;
  }
  #outerStatsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #innerStatsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
    height: 11vw;
    margin-top: 4px;
  }
  .statsWrapper {
    border: 2px solid none;
    border-radius: 10px;
    background-color: lightgrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 16.3%;
  }
  .statsfield {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .outerTimesWrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 4px;
  }
  .timesWrapper {
    border: 2px solid none;
    border-radius: 10px;
    background-color: lightgrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 33.03%;
    height: 100%;
  }
  #totalTime {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .directionsLabel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
  #dishImageWrapper {
    border: 2px solid none;
    border-radius: 10px;
    background-color: lightgrey;
    width: 24.7%;
    height: 11vw;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  #dishImage {
    width: 100%;
    height: 100%;
  }
  #originFlag {
    position: absolute;
    width: 3vw;
    height: 1.68vw;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
  }
  #outerInstructionsWrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    background-color: lightgrey;
    height: 15vw;
    border-radius: 10px;
  }
  #outerIngredientsWrapper {
    width: 50%;
  }
  #outerDirectionsWrapper {
    width: 50%;
  }
  .AddIngredientButtonWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .addIngredientField,
  .removeIngredientField {
    width: 40%;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #ingredientWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-left: 20px;
  }
  .outerIngredientContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .amountContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
  }
  .ingredientContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
  }
  .amountContainer .input-field, .ingredientContainer .input-field {
    width: 90%;
  }
  .ingredientfield {
    width: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #directionsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 98%;
  }
  #directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #ingredientsHeadline,
  #directionsHeadline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footerWrapper {
    width: 75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .divider {
    width: 100%;
    height: 1px;
    border: 1px solid grey;
    border-radius: 1px;
  }
  .created,
  .contact,
  .github {
    width: 25%;
    height: 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  a i {
    color: black;
  }
  .recipeTile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
  }
  .reviewTile {
    border: 2px solid grey;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .reviewKey,
  .reviewValue {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #reviewsPopup {
    width: 80vw;
  }
  #ratePopup {
    width: 50vw;
  }
  #deletePopup {
    width: 50vw;
    background-color: #E85A4F;
  }
  #popupCheckForValidFields {
    z-index: 1000;
  }
  #reviewsPopup,
  #ratePopup,
  #deletePopup {
    z-index: 500;
  }
  #reviewsPopup,
  #ratePopup,
  #popupCheckForValidFields, .reviewTile {
    background-color: #D8C3A5;
  }
  #reviewsPopup,
  #ratePopup,
  #deletePopup,
  #popupCheckForValidFields {
    position: absolute;
    opacity: 0.0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    border: 2px white;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 7vw;
  }
  #reviewsWrapper,
  #rateWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .outerReviewsWrapper {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .innerReviewsWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reviewContainer,
  .rateContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .reviewlines,
  .ratelines {
    width: 100%;
  }
  .buttonWrapper,
  .buttonWrapperPopup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #resultCheckForValidFields {
    margin: 2vw;
  }
  .buttonWrapper div {
    margin-left: 44px;
  }
  .buttonWrapper a {
    color: white;
  }
  #closeReviewsPopupBtn,
  #sendReviewPopupBtn,
  #cancelReviewPopupBtn,
  #closeCheckForValidFieldsBtn {
    width: 10vw;
    height: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapperLogoBig {
    width: 95vw;
    height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */