body {
    background-color: antiquewhite;
}

h3 {
    color: green;

}



.recipe_head_wrapper {
    width: 8vw;
}


.popupCheckImagename {
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity .8s ease-in-out;
}

.row-logo-big {
font-family: 'Times New Roman', Times, serif;
}

#logo-big{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

}