// color definitions


$body-bgcolor: #EAE7DC;
$header-bgcolor: #EAE7DC;
$recipefields-bgcolor: lightgrey;
$deletePopup-bgcolor: #E85A4F;
$popup-bgcolor: #E98074;
$reviewAndRatePopup-bgcolor: #D8C3A5;

// font definitions

.dosisFont {
    font-family: 'Dosis', sans-serif;
}

$recipeFontSize: 0.9vw;
$headlineFontSize: 2vw;
$menuheaderFont: 1vw;


