@media screen and (orientation:portrait) {
    
}


@media screen and (orientation:landscape) {

    body {
        background-color: $body-bgcolor;
    }

    div a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
        color: #4495D4;
    }

    header {
        background-color: $header-bgcolor;
        position: fixed;
        z-index: 99;
        width: 80vw;
    }

    .width10 {
        width: 9.7%;
    }

    .width16 {
        width: 16.43%;
    }

    .width25 {
        width: 24.7%;
    }

    .headline {
        margin: {
            top: 10px;
            bottom: 20px;
        }

        width: 100%;
        font-size: $headlineFontSize;
    }

    #menulistDesktop {
        height: 4vw;
        padding: 0;
        margin-top: 25px;
    }

    #menulistMobile,
    #sideMobileMenu {
        display: none;
    }

    body,
    .menulistitem,
    .logoMenuListItem,
    .headline,
    .recipeWrapper,
    .recipeHeaderItem,
    .recipeButtonWrapper,
    #readRecipeTitle,
    .recipeTitle,
    #editRecipeBtn a,
    .statsfield,
    .levelStatsfield,
    .timesWrapper,
    .directionsLabel,
    .statsWrapper,
    .directionsLabel,
    #dishImageWrapper,
    #ingredientsHeadline,
    #directionsHeadline,
    .addIngredientField,
    .removeIngredientField,
    #ingredientWrapper,
    .footerWrapper,
    .created,
    .contact,
    .github,
    .reviewTile,
    .reviewKey,
    .reviewValue,
    #reviewsPopup,
    #ratePopup,
    #deletePopup,
    #popupCheckForValidFields,
    #reviewsWrapper,
    #rateWrapper,
    .outerReviewsWrapper,
    .outerRecipesWrapper,
    .innerReviewsWrapper,
    .innerRecipesWrapper,
    .reviewContainer,
    .rateContainer,
    .buttonWrapper,
    .buttonWrapperPopup,
    #closeReviewsPopupBtn,
    #sendReviewPopupBtn,
    #cancelReviewPopupBtn,
    #closeCheckForValidFieldsBtn,
    #deleteRecipeConfirmBtn,
    #deleteRecipePopupCancelBtn,
    .wrapperLogoBig {
        display: flex;
        justify-content: center;
    }

    .logoMenuListItem .hyperlinks header,
    .headline,
    #menulistDesktop,
    .menulistitem form,
    .menulistitem .hyperlinks,
    .recipeWrapper .input-field,
    .recipeHeaderItem,
    .recipeButtonWrapper,
    #editRecipeBtn a,
    .statsfield,
    .outerTimesWrapper,
    #totalTime,
    .directionsLabel,
    .directionsLabel,
    .ingredientfield,
    #directionsWrapper,
    .footerWrapper,
    .created,
    .contact,
    .github,
    .wrapperLogoBig,
    #loginWrapper,
    #registerWrapper {
        display: flex;
        align-items: center;
    }

    #menulistDesktop,
    #baseWrapper {
        display: flex;
        justify-content: space-evenly;
    }

    #outerStatsWrapper,
    #innerStatsWrapper,
    .outerTimesWrapper,
    .recipeHeader {
        display: flex;
        justify-content: space-between;

    }

    .logo_small {
        width: 8vw;
    }

    .menulistitem,
    .logoMenuListItem {
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 1vw;
    }

    .menulistitem form {
        width: 20vw;
        height: 1.5vw;
        background-color: $header-bgcolor;
    }

    #search_term {
        background-color: transparent;
        margin: 0;
        height: 80%;
    }

    .menulistitem .hyperlinks {
        color: #8D8D8A;
        text-decoration: none;
        -webkit-transition: color .6s ease-in-out;
        -o-transition: color .6s ease-in-out;
        transition: color .6s ease-in-out;
        font-size: $menuheaderFont;
    }

    .menulistitem:hover .hyperlinks {
        color: red;
    }

    .hyperlinks i {
        font-size: 1.5vw;
        color: #3399ff;
    }

    #baseWrapper {
        border: 2px solid grey;
        flex-wrap: wrap;
        width: 80vw;
        transform: translateY(4vw);

        margin: {
            top: 60px;
            bottom: 1vw;
        }

        border-radius: 1vw;
    }

    .recipeWrapper {
        width: 75vw;
        flex-wrap: wrap;
        margin-top: 1vw;
    }

    .input-field {
        margin-top: 0;
    }

    #recipetitle {
        font-size: $recipeFontSize;
    }

    .recipeHeader {
        height: 5vw;
        width: 100%;
        font-size: .9vw;
    }

    .recipeHeaderItem {
        border: 2px solid none;
        border-radius: 10px;
        background-color: $recipefields-bgcolor;
    }

    .recipeButtonWrapper {
        border-radius: 10px;
        padding-top: 2px;
        width: 80%;
        height: 50%;
        font-size: $recipeFontSize;
    }

    #readRecipeTitle {
        width: 50%;
    }

    #readRecipeTitle .input-field {
        width: 50%;
    }

    .recipeTitle {
        width: 100%;
        font-size: 2vw;
    }

    .select-wrapper input.select-dropdown {
        font-size: $recipeFontSize;
    }

    .select-wrapper {
        width: 80%;

    }

    #editRecipeBtn a {
        width: 80%;
        height: 100%;
    }

    #outerStatsWrapper {
        flex-wrap: wrap;
        width: 100%;
    }

    #innerStatsWrapper {
        flex-wrap: wrap;
        width: 75%;
        height: 11vw;
        margin-top: 4px;
    }

    .statsWrapper {
        border: 2px solid none;
        border-radius: 10px;
        background-color: $recipefields-bgcolor;
        align-content: center;
        flex-wrap: wrap;
        width: 16.3%;
    }

    .statsWrapper div {
        font-size: $recipeFontSize;
    }

    .statsfield {
        width: 100%;
    }

    .levelStatsfield {
        width: 100%;
        margin-top: 10px;
        align-content: center;
    }

    .levelstatsinput {
        height: 30%;
        display: flex;
        justify-content: center;
    }

    .outerTimesWrapper {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 4px;
    }

    .timesWrapper {
        border: 2px solid none;
        border-radius: 10px;
        background-color: $recipefields-bgcolor;
        align-content: center;
        flex-wrap: wrap;
        width: 33.03%;
        height: 100%;
    }

    .timesWrapper div {
        font-size: $recipeFontSize;
    }

    #prepTime,
    #cookingTime {
        font-size: $recipeFontSize;
    }

    .directionsLabel {
        width: 100%;

        margin: {
            top: 5px;
            bottom: 10px;
        }
    }

    #dishImageWrapper {
        border: 2px solid none;
        border-radius: 10px;
        overflow: hidden;
        font-size: $recipeFontSize;
        background-color: $recipefields-bgcolor;
        width: 24.7%;
        height: 11vw;

        margin: {
            top: 4px;
        }
    }

    
    
    #dishImage {
        width: 100%;
        height: 100%;
    }

    #originFlag {
        position: absolute;
        width: 3vw;
        height: 1.68vw;
        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden;
    }

    #outerInstructionsWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;
        margin-bottom: 2.5vw;
        padding-bottom: 4vw;
        background-color: $recipefields-bgcolor;
        border-radius: 10px;
    }

    #outerInstructionsWrapper div,
    #ingredientWrapper input {
        font-size: $recipeFontSize;
    }

    #outerIngredientsWrapper {
        width: 55%;
    }

    #outerDirectionsWrapper {
        width: 45%;
    }

    #ingredientsHeadline,
    #directionsHeadline {
        margin: {
            top: 10px;
            bottom: 10px;
        }
    }

    .AddIngredientButtonWrapper {
        display: flex;
        margin-bottom: 25px;
    }

    .addIngredientField,
    .removeIngredientField {
        width: 40%;
        margin-left: 3.1vw;
    }

    #ingredientWrapper {
        flex-wrap: wrap;
        width: 100%;
        padding-left: 20px;
    }

    .outerIngredientContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }

    .amountContainer {
        display: flex;
        width: 50%;
    }

    .ingredientContainer {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .ingredientfield {
        width: 90%;
    }

    .warning {
        margin-left: 4px;
        height: 100%;
        display: flex;
    }

    .warning-icon {
        color: red;
        font-size: 1.1vw;

    }

    .amountContainer .input-field,
    .ingredientContainer .input-field {
        width: 90%;
    }

    #directionsWrapper {
        height: 100%;
        width: 98%;
        margin-left: 10px;
    }

    #directions {
        display: flex;
    }

    #directionsWrapper textarea {
        margin: 0px;
        height: 80%;
        width: 95%;
    }

    .footerWrapper {
        width: 75vw;
        flex-wrap: wrap;

        margin: {
            top: 20px;
            bottom: 20px;
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        border: 1px solid grey;
        border-radius: 1px;
    }

    .created,
    .contact,
    .github {
        width: 25%;
        height: 3vw;
        font-size: $recipeFontSize;
    }

    a i {
        color: black;
    }

    .recipeTile {
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        margin-bottom: 1vw;
    }

    .recipeTileStatsWrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

.recipeTileStats {
    width: 100%;
}

    .recipeTileStats div {
        font-size: 1vw;
    }


    .recipeTileName {
        display: flex;
        font-size: 1.5vw;
        width: 100%;
       
    }

    .reviewTile {
        border: 2px solid grey;
        border-radius: 10px;
        flex-wrap: wrap;
        width: 30%;
        margin: 10px;

        padding: {
            top: 10px;
            bottom: 10px;
        }
    }

    .recipeTile #dishImageWrapper {
        border: 2px solid none;
        border-radius: 10px;
        overflow: hidden;
        font-size: $recipeFontSize;
        background-color: lightgrey;
        width: 50%;
        height: 11vw;

        margin: {
            top: 4px;
        }
    }

    .recipeTile #dishImageWrapper a img {
        width: 100%;
        height: 400px;
        object-fit: cover;    }

    .reviewKey,
    .reviewValue {
        width: 50%;
    }

    // Popups

    #reviewsPopup {
        width: 80vw;
        padding-bottom: 2vw;
        margin-bottom: 4vw;
    }

    #ratePopup {
        width: 50vw;
    }

    #deletePopup {
        width: 44vw;
        background-color: $deletePopup-bgcolor;
        padding-bottom: 1vw;

    }

    #popupCheckForValidFields, #flashesPopup {
        z-index: 1000;
        background-color: $popup-bgcolor;
    }

    #reviewsPopup,
    #ratePopup,
    #deletePopup {
        z-index: 500;
    }

    #reviewsPopup,
    #ratePopup,
    .reviewTile {
        background-color: $reviewAndRatePopup-bgcolor;
    }

    #reviewsPopup,
    #ratePopup,
    #deletePopup,
    #popupCheckForValidFields {
        position: absolute;
        opacity: 0.0;
        transition: opacity .5s ease-in-out;
        transform: translateX(-100vw);
        border: 2px white;
        border-radius: 10px;
        flex-wrap: wrap;
        top: 7vw;
        font-size: $recipeFontSize;
    }

    #reviewsWrapper,
    #rateWrapper {
        margin: {
            top: 10px;
            bottom: 10px;
        }

        width: 100%;
        flex-wrap: wrap;
    }

    .outerReviewsWrapper,
    .outerRecipesWrapper {
        width: 80vw;
    }

    .innerReviewsWrapper,
    .innerRecipesWrapper {
        margin: {
            top: 20px;
            bottom: 20px;
        }

        width: 80vw;
        flex-wrap: wrap;
    }

    .reviewContainer,
    .rateContainer {
        flex-wrap: wrap;
        width: 100%;
    }

    .reviewlines,
    .ratelines {
        width: 100%;
    }

    .buttonWrapper,
    .buttonWrapperPopup {
        width: 100%;

        margin: {
            top: 10px;
            bottom: 20px;
        }
    }

    .buttonWrapperPopup div {
        font-size: $recipeFontSize;
    }

    #resultCheckForValidFields {
        margin: 2vw;
    }

    .buttonWrapper div {
        margin: {
            left: 44px;
        }

        font-size: $recipeFontSize;
    }

    .buttonWrapper a {
        color: white;
    }

    #closeReviewsPopupBtn,
    #sendReviewPopupBtn,
    #cancelReviewPopupBtn,
    #closeCheckForValidFieldsBtn,
    #deleteRecipeConfirmBtn,
    #deleteRecipePopupCancelBtn {
        width: 10vw;
        border-radius: 10px;
        // height: 2vw;
    }

    .wrapperLogoBig {
        width: 95vw;
        height: 95vh;
    }

    #loginWrapper,
    #registerWrapper {
        width: 50vw;
        flex-wrap: wrap;
    }

    #flashesPopup {
        position: absolute;
        //opacity: 0.0;
        transition: opacity .5s ease-in-out;
        transform: translateX(0vw);
        border: 2px white;
        border-radius: 10px;
        flex-wrap: wrap;
        top: 7vw;
        font-size: $recipeFontSize;

    }

    .opacityRise {
        opacity: 1.0;
        transition: opacity .5s ease-in-out;
    }
}

// special breakpoint for 1.33 ratio, ipad
@media screen and (width: 768px) and (height: 1024px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 1366px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 768px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1366px) and (height: 1024px) {}