@media screen and (orientation:portrait) {

    header {
        background-color: #EAE7DC;
        position: fixed;
        display: flex;
        align-items: center;
        border: 2px solid green;
        border-radius: 1vw;
        z-index: 99;
        height: 5vw;
    }

    body {
        background-color: #EAE7DC;
        display: flex;
        justify-content: center;
    }

    #menulistDesktop {
        display: none;
    }

    #menulistMobile {
        width: 80vw;
        height: 5vw;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    #menulistMobileShowBtn {
        font-size: large;
    }

    #sideMobileMenu {
        position: absolute;
        left: -100vw;
        width: 80vw;
        height: 20vw;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(50vw);
        transition: transform;

    }

}


@media screen and (orientation:landscape) {

    body {
        background-color: #EAE7DC;
        display: flex;
        justify-content: center;
    }

    div a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
        color: #4495D4;
    }

    header {
        background-color: #EAE7DC;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 99;
    }

    .width10 {
        width: 9.7%;
    }

    .width16 {
        width: 16.43%;
    }

    .width25 {
        width: 24.7%;
    }

    .headline {
        margin: {
            top: 10px;
            bottom: 20px;
        }

        text-align: center;
        width: 100%;
        font-size: 2vw;
    }

    #menulistDesktop {
        width: 90vw;
        height: 4vw;
        padding: 0;
        margin: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #menulistMobile,
    #sideMobileMenu {
        display: none;
    }

    .logoMenuListItem .hyperlinks {
        display: flex;
        align-items: center;
    }

    .logo_small {
        width: 8vw;
    }

    .menulistitem,
    .logoMenuListItem {
        display: flex;
        justify-content: center;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 1vw;

    }

    .menulistitem form {
        display: flex;
        align-items: center;
        width: 20vw;
        height: 1.5vw;
        background-color: #EAE7DC;

    }

    #search_term {
        background-color: transparent;
        margin: 0;
        height: 80%;
    }

    .menulistitem .hyperlinks {
        display: flex;
        align-items: center;
        color: #8D8D8A;
        text-decoration: none;
        -webkit-transition: color .6s ease-in-out;
        -o-transition: color .6s ease-in-out;
        transition: color .6s ease-in-out;
    }

    .menulistitem:hover .hyperlinks {
        color: red;
    }

    #baseWrapper {
        border: 2px solid grey;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 80vw;
        transform: translateY(4vw);
        margin-top: 60px;
        border-radius: 1vw;
    }

    .recipeWrapper {
        width: 75vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: .8vw;
        margin-top: 2vw;
    }

    .recipeWrapper .input-field {
        margin-top: .5rem;
        display: flex;
        align-items: center;
    }

    .recipeHeader {
        display: flex;
        justify-content: space-between;
        height: 3vw;
        width: 100%;
    }

    .recipeHeaderItem {
        border: 2px solid none;
        border-radius: 10px;
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipeButtonWrapper {
        border-radius: 10px;
        padding-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50%;
    }

    #readRecipeTitle {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .recipeTitle {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2vw;
    }

    #editRecipeBtn a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
    }

    #outerStatsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #innerStatsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 75%;
        height: 11vw;
        margin-top: 4px;
    }

    .statsWrapper {
        border: 2px solid none;
        border-radius: 10px;
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 16.3%;
    }

    .statsfield {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outerTimesWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        margin: {
            top: 4px;
            bottom: 4px;
        }
    }

    .timesWrapper {
        border: 2px solid none;
        border-radius: 10px;
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 33.03%;
        height: 100%;
    }

    #totalTime {
        height: 50%;
        display: flex;
        align-items: center;
    }

    .directionsLabel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    #dishImageWrapper {
        border: 2px solid none;
        border-radius: 10px;
        background-color: lightgrey;
        width: 24.7%;
        height: 96%;
        margin: {
            top: 4px;
        }
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    #dishImage {
        width: 100%;
        height: 100%;
    }

    #originFlag {
        position: absolute;
        width: 3vw;
        height: 1.68vw;
        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden;
    }

    #outerInstructionsWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1vw;
        margin-bottom: 2.5vw;
        background-color: lightgrey;
    }

    #outerIngredientsWrapper {
        width: 50%;
    }

    #outerDirectionsWrapper {
        width: 50%;
    }

    .AddIngredientButtonWrapper {
        display: flex;
        margin-bottom: 10px;
    }

    .addIngredientField,
    .removeIngredientField {
        width: 40%;
        margin-left: 40px;
        display: flex;
        justify-content: center;
    }

    #ingredientWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .outerIngredientContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .amountContainer {
        display: flex;
        width: 40%;
    }

    .ingredientContainer {
        display: flex;
        width: 60%;
    }

    .amountContainer .input-field, .ingredientContainer .input-field {
        width: 90%;
    }

    .ingredientfield {
        width: 44%;
        display: flex;
        justify-content: center;
    }

    #directionsWrapper {
        display: flex;
        height: 100%;
        width: 98%;
    }

    #directions {
        height: 100%;
    }

    #ingredientsHeadline,
    #directionsHeadline {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footerWrapper {
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: {
            top: 20px;
            bottom: 20px;
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        border: 1px solid grey;
        border-radius: 1px;
    }

    .created,
    .contact,
    .github {
        width: 25%;
        height: 2.5vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    a i {
        color: black;
    }

    .recipeTile {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

    .reviewTile {
        border: 2px solid grey;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        justify-content: center;
        margin: 10px;
        padding: {
            top: 10px;
            bottom: 10px;
        }
    }

    .reviewKey,
    .reviewValue {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    // Popups

    #reviewsPopup {
        width: 80vw;
    }

    #ratePopup {
        width: 50vw;
    }

    #deletePopup {
        width: 50vw;
        background-color: #E85A4F;

    }

    #popupCheckForValidFields {
        z-index: 1000;
    }

    #reviewsPopup,
    #ratePopup,
    #deletePopup {
        z-index: 500;
    }

    #reviewsPopup,
    #ratePopup,
    #popupCheckForValidFields, .reviewTile {
        background-color: #D8C3A5;
    }

    #reviewsPopup,
    #ratePopup,
    #deletePopup,
    #popupCheckForValidFields {
        position: absolute;
        opacity: 0.0;
        transition: opacity .5s ease-in-out;
        transform: translateX(-100vw);
        border: 2px white;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        top: 7vw;
    }

    #reviewsWrapper,
    #rateWrapper {
        margin: {
            top: 10px;
            bottom: 10px;
        }

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .outerReviewsWrapper {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .innerReviewsWrapper {
        margin: {
            top: 20px;
            bottom: 20px;
        }
        display: flex;
        justify-content: center;
        width: 80vw;
        flex-wrap: wrap;
    }

    .reviewContainer,
    .rateContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .reviewlines,
    .ratelines {
        width: 100%;
    }

    .buttonWrapper,
    .buttonWrapperPopup {
        display: flex;
        justify-content: center;
        width: 100%;

        margin: {
            top: 10px;
            bottom: 20px;
        }
    }

    #resultCheckForValidFields {
        margin: 2vw;
    }

    .buttonWrapper div {
        margin: {
            left: 44px;
        }
    }

    .buttonWrapper a {
        color: white;
    }

    #closeReviewsPopupBtn,
    #sendReviewPopupBtn,
    #cancelReviewPopupBtn,
    #closeCheckForValidFieldsBtn {
        width: 10vw;
        height: 2vw;
        display: flex;
        justify-content: center;
    }

    .wrapperLogoBig {
        width: 95vw;
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// special breakpoint for 1.33 ratio, ipad
@media screen and (width: 768px) and (height: 1024px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 1366px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 768px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1366px) and (height: 1024px) {}