@media screen and (orientation:portrait) {

    header {
        background-color: #EAE7DC;
        position: fixed;
        display: flex;
        align-items: center;
        border: 2px solid green;
        border-radius: 1vw;
        z-index: 99;
        height: 5vw;
    }

    body {
        background-color: #EAE7DC;
        display: flex;
        justify-content: center;
    }

    #menulistDesktop {
        display: none;
    }

    #menulistMobile {
        width: 80vw;
        height: 5vw;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    #menulistMobileShowBtn {
        font-size: large;
    }

    #sideMobileMenu {
        position: absolute;
        left: -100vw;
        width: 80vw;
        height: 20vw;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(50vw);
        transition: transform;

    }

}


@media screen and (orientation:landscape) {

    body {
        background-color: #EAE7DC;
        display: flex;
        justify-content: center;
    }

    div a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
        color: green;
    }

    header {
        background-color: #EAE7DC;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 99;
    }

    #menulistDesktop {
        width: 90vw;
        height: 4vw;
        padding: 0;
        margin: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #menulistMobile,
    #sideMobileMenu {
        display: none;
    }

    .logoMenuListItem .hyperlinks {
        display: flex;
        align-items: center;
    }

    .logo_small {
        width: 8vw;
    }

    .menulistitem,
    .logoMenuListItem {
        display: flex;
        justify-content: center;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 1vw;

    }

    .menulistitem form {
        display: flex;
        align-items: center;
        width: 20vw;
        height: 1.5vw;
        background-color: #EAE7DC;

    }

    #search_term {
        background-color: transparent;
        margin: 0;
        height: 80%;
    }

    .menulistitem .hyperlinks {
        display: flex;
        align-items: center;
        color: #8D8D8A;
        text-decoration: none;
        -webkit-transition: color .6s ease-in-out;
        -o-transition: color .6s ease-in-out;
        transition: color .6s ease-in-out;
    }

    .menulistitem:hover .hyperlinks {
        color: red;
    }

    #baseWrapper {
        border: 2px solid grey;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 80vw;
        transform: translateY(4vw);
        margin-top: 60px;
        border-radius: 1vw;
    }

    .recipeWrapper {
        width: 60vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: .8vw;
        margin-top: 2vw;
    }

    .recipeWrapper .input-field {
        margin-top: .5rem;
        display: flex;
        align-items: center;
    }

    .recipeHeader {
        border: 2px solid lightblue;
        display: flex;
        justify-content: space-evenly;
        height: 3vw;
        width: 100%;
    }

    .recipeHeaderItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #readRecipeTitle {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .recipeTitle {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2vw;
    }

    #outerStatsWrapper {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        height: 10vw;
    }

    .statsWrapper {
        border: 2px solid lightblue;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 16.66%;
    }

    .statsfield {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outerTimesWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .timesWrapper {
        border: 2px solid lightblue;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 33.33%;
        height: 100%;
    }

    #totalTime {
        height: 50%;
        display: flex;
        align-items: center;
    }

    .directionsLabel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dishImageWrapper {
        border: 2px solid lightblue;
        width: 25%;
        height: 10vw;

    }

    #dishImage {
        width: 21.33vw;
        height: 100%;
    }


    #origin {
        position: absolute;
    }

    #originFlag {
        width: 3vw;
        height: 1.68vw;
        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden;
    }

    #outerDirectionsWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2vw;
    }

    #outerIngredientsWrapper {
        width: 40%;
    }

    .addRemoveBtnWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    .addIngredientField,
    .removeIngredientField {
        width: 50%;
        display: flex;
        justify-content: center;

    }

    #ingredientWrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .ingredientContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .ingredientContainer .input-field {
        width: 50%;
    }

    #directionsWrapper {
        width: 60%;
    }

    #directions,
    .directionInput {
        height: 100%;
    }

    .latestAddedWrapper {
        background-color: greenyellow;
        width: 100%;
        height: 4vw;
    }

    // Popups

    #reviewsPopup,
    #ratePopup {
        background-color: #8E8D8A;
        position: absolute;
        opacity: 0.0;
        transition: opacity .5s ease-in-out;
        transform: translateX(-100vw);
        z-index: -1;
        border: 2px white;
        border-radius: 5px;

    }

    #reviewsWrapper,
    #rateWrapper {
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviewContainer,
    .rateContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    hr {
        width: 100%;
    }

    .reviewlines,
    .ratelines {
        width: 100%;
    }


    #showReviewsPopupBtn {
        width: 10vw;
    }

    #closeReviewsPopupBtn,
    #closeRatePopupBtn {
        width: 10vw;
        height: 5vw;
    }

    .popupImageValidator {
        opacity: 0.0;
        z-index: -1;
        transform: translateZ(-10px);
        transition: opacity .8s ease-in-out;
    }

    .wrapper_logo_big {
        width: 95vw;
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// special breakpoint for 1.33 ratio, ipad
@media screen and (width: 768px) and (height: 1024px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 1366px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 768px) {}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1366px) and (height: 1024px) {}