{% extends 'base.html'%}
{% block content %}
<form action="{{ url_for('insert_recipe')}}" method="POST" class="addRecipeForm" enctype="multipart/form-data">

    <div class="recipeWrapper">
        <div class="recipeTitle">
            Add a recipe
        </div>
        <div class="recipeHeader">
            <div class="recipeHeaderItem">
                <div class="input-field" id="">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="recipetitle" name="recipe_title" type="text" class="validate">
                    <label for="recipetitle">Recipe Title</label>
                </div>
            </div>

            <div class="recipeHeaderItem" id="">
                <div class="input-field">
                    <i class="material-icons prefix">playlist_add</i>
                    <select name="dish_type">
                        <option value="" disabled selected>Choose Dish Type</option>
                        <optgroup label="Starters">
                            <option value="Soup">Soup</option>
                            <option value="Salad">Salad</option>
                            <option value="Fingerfood">Fingerfood</option>
                        </optgroup>
                        <optgroup label="Main Course">
                            <option value="Chicken">Chicken</option>
                            <option value="Fish">Fish</option>
                            <option value="Game">Game</option>
                            <option value="Meat">Meat</option>
                        </optgroup>
                        <optgroup label="Desserts">
                            <option value="Cake">Cake</option>
                            <option value="Fruit">Fruit</option>
                            <option value="Ice">Ice</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="recipeHeaderItem">
                <div class="input-field">
                    <i class="material-icons prefix">playlist_add</i>
                    <select class="icons" name="origin">
                        <option value="" disabled selected>Choose origin country</option>
                        {% for country in countries %}
                        <option value="{{country['country_name']}}"
                            data-icon="{{url_for('static', filename=country['filename'])}}" class="circle">
                            {{country['country_name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div id="outerStatsWrapper">
            <div class="statsWrapper">
                <div class="statsfield">Added By:</div>
                <div class="statsfield">{{session["username"]}}</div>
            </div>

            <div class="statsWrapper">
                <div class="statsfield">Date added:</div>
                <div class="statsfield">Today</div>
            </div>

            <div class="statsWrapper">
                <div class="statsfield">Time added:</div>
                <div class="statsfield">Now</div>
            </div>

            <div class="statsWrapper">
                <div class="statsfield">Level:</div>
                <div class="input-field statsfield">
                    <select name="level">
                        <option value="" disabled selected>Experience level:</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Difficult">Difficult</option>
                    </select>
                </div>
            </div>

            <div class="statsWrapper">
                <div class="statsfield">Reviews:</div>
                <div class="statsfield">-</div>
            </div>

            <div class="statsWrapper">
                <div class="statsfield">Viewed:</div>
                <div class="statsfield">-</div>
            </div>
            <div class="outerTimesWrapper">
                <div class="timesWrapper">
                    <div class="directionsLabel">Prep Time [mins]:</div>
                    <div class="prepTime">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">playlist_add</i>
                            <input id="prepTime" name="prep_time" type="text" class="validate" value="0"
                                onchange="calcTotalTime()">
                            <label for="prepTime">Preparation time</label>
                        </div>
                    </div>
                </div>
                <div class="timesWrapper">
                    <div class="directionsLabel">Cooking Time [mins]:</div>
                    <div class="cookingTime">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">playlist_add</i>
                            <input id="cookingTime" name="cooking_time" type="text" class="validate" value="0"
                                onchange="calcTotalTime()">
                            <label for="cookingTime">Cooking time</label>
                        </div>
                    </div>
                </div>
                <div class="timesWrapper">
                    <div class="directionsLabel">Total Time:</div>
                    <div id="totalTime">0 mins</div>
                </div>
            </div>
        </div>

        <div id="dishImageWrapper">
            <div class="input-field col s12">
                <input type="file" name="file" id="fileinputfield" onchange="encodeImgtoBase64(this)"
                    enctype="multipart/form-data">
                <textarea id="base64file" name="base64file" hidden></textarea>
            </div>
        </div>

        <div id="outerDirectionsWrapper">
            <div id="outerIngredientsWrapper">
                <div class="addRemoveBtnWrapper">
                    <div class="addIngredientField">add ingredient field</div>
                    <div class="removeIngredientField">remove ingredient field</div>
                </div>
                <div id="ingredientWrapper">
                    <div class="input-field">
                        <i class="material-icons prefix">playlist_add</i>
                        <input id="amount1" name="amount1" type="text" class="validate">
                        <label for="amount1">Amount</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">playlist_add</i>
                        <input id="ingredient1" name="ingredient1" type="text" class="validate">
                        <label for="ingredient1">Ingredient</label>
                    </div>
                </div>
            </div>

            <div id="directionsWrapper">
                <div class="input-field col s12 directionInput">
                    <i class="material-icons prefix">playlist_add</i>
                    <textarea id="directions" name="directions"></textarea>
                    <label for="directions">Directions</label>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" id="add_recipe_Btn" name="action" onclick="">Send
                <i class="material-icons right">playlist</i>
            </button>
        </div>
    </div>
</form>
{% endblock %}