{% extends 'base.html'%}

{% block content %}
<h3>Edit {{recipe.title}}</h3>
<div class="row">
    <div class="addfield">click to add field to form</div>
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="recipe_title" name="recipe_title" type="text" class="validate" value="{{recipe.title}}">
                <label for="recipe_title">Recipe Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="dish_type" name="dish_type" type="text" class="validate" value="{{recipe.dish_type}}">
                <label for="dish_type">Dish Type:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="level" name="level" type="text" class="validate" value="{{recipe.level}}">
                <label for="level">Sofistication</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="prep_time" name="prep_time" type="text" class="validate" value="{{recipe.prep_time}}">
                <label for="prep_time">Preparation time</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="cooking_time" name="cooking_time" type="text" class="validate" value="{{recipe.cooking_time}}">
                <label for="cooking_time">Cooking time</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <textarea id="directions" name="directions" value="{{recipe.directions}}"></textarea>
                <label for="directions">Directions</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <textarea id="allergens" name="allergens" value="{{recipe.allergens}}"></textarea>
                <label for="allergens">Allergens</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <textarea id="ingredients" name="ingredients" value="{{recipe.ingredients}}"></textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="origin" name="origin" type="text" class="validate" value="{{recipe.origin}}">
                <label for="origin">Origin Country</label>
            </div>
        </div>

        <div class="row">
            <input type="file" name="file" id="fileinputfield" onchange="encodeImgtoBase64(this)"
                enctype="multipart/form-data">
            <textarea id="base64file" name="base64file" hidden></textarea>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" id="add_recipe_Btn" name="action" onclick="">Send
                <i class="material-icons right">playlist</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}