<!DOCTYPE html>
<html>

<head>
  <title>Convert image into base64 string using jQuery</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>

<body>
  <form action="{{ url_for('file_uploader') }}" method="POST" class="col s12">

    <input type="file" name="file" id="fileinputfield" onchange="encodeImgtoBase64(this)">
    <textarea id="base64file" name="base64file"></textarea>
    <button type="submit">Submit</button>



  </form>
</body>


<script>
  function encodeImgtoBase64(element) {

    var file = element.files[0];
    var reader = new FileReader();
    reader.onloadend = function () {

      //$("#base64file").attr("href",reader.result);

      // $("#convertImg").text(reader.result);
      // $("#base64file").text(reader.result.split(',')[1]);
      $("#base64file").text(reader.result.split(',')[1]);


    }
    // $("#base64div").text();
    reader.readAsDataURL(file);
    console.log(file);
  }

  function checkForValidImage() {
    var enteredFilename = $('#fileinputfield').val();

    if ($('#fileinputfield').val().length == 0) {
      $('.popupCheckImagename').html(`Please select an JPEG or JPG.`);
      popupCheckImagename();

    }


  }

  function popupCheckImagename() {
    $('.popupCheckImagename').css("transform", "translateZ(500px)").css("z-index", "500");

    setTimeout(function () {
        $('.popupCheckImagename').css("opacity", "1.0");
      }

      , 300);

    setTimeout(function () {
        $('.popupCheckImagename').css("opacity", "0.0");
      }

      , 2200);

    setTimeout(function () {
        $('.popupCheckImagename').css("transform", "translateZ(-10px)").css("z-index", "-1");
      }

      , 3000);

  }

  /*
<form>
 
    <input type="file" name="file" id="file" onchange="encodeImgtoBase64(this)">
 
    <button type="submit">Submit</button>
 
    <a id="convertImg" href=""></a>
 
</form>

 $("#base64result").text(reader.result.split(',')[1]);
   function encodeImgtoBase64(element) {
 
      var file = element.files[0];
 
      var reader = new FileReader();
 
      reader.onloadend = function() {
 
        $("#convertImg").attr("href",reader.result);
 
        $("#convertImg").text(reader.result);
        //console.log(reader.result);
        
      }
      
      reader.readAsDataURL(file);
    }  
 */

  /* 
  curl --location --request POST "https://api.imgbb.com/1/upload?key=44a47b2e80665b461c141f86770a7396" --form "image=R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  */

  /*
  $.ajax({
              url: "https://fcm.googleapis.com/fcm/send",
              type: 'POST',
              dataType: 'json',
              headers: {
                  'Access-Control-Allow-Origin' : '*',
                  'Authorization': '<APY KEY>',
                  'contentType': 'application/json',
              },
              data: {
                  'title': 'Hello world!', 
                  'body': 'you got a new message', 
                  'icon': 'icon/path', 
                  'click_action' : 'page/path', 
                  'to' : '<DEVICE TOKEN>',
              },
              success: function (result) {
                alert(JSON.stringify(data));
              },
              error: function (error) {
                 alert("Cannot get data");
              }
          });
  */
</script>

</html>