<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Poldi's Cookbook</title>
</head>
<body>
    <div class="wrapperLogoBig">
        <div id="logobig">
            <a href="{{ url_for('welcome') }}">
                <img src="{{url_for('static', filename='images/logo_big.jpeg')}}" alt="logo_big">
            </a>
        </div>
    </div>
</body>
</html>


