{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h3>Latest recipes in our database</h3>
</div>
{% for recipe in recipes %}
<div class="row">
    <h4 class=""><a href="{{url_for('read_recipe', recipe_id=recipe._id)}}">{{recipe.title}}</a></h4>
    {% if recipe.user_email_hash==session["email_address"] %}
    <div class="col s1"><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a></div>
    <div class="col s1"><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a></div>
    {% endif %}
</div>

<div class="row">
    <a href="{{url_for('read_recipe', recipe_id=recipe._id)}}"><img src="{{recipe.img_src}}" alt="picture_of_dish"></a>
    </h4>

</div>

{% endfor %}

<div class="row">
    <a href="{{ url_for('add_recipe') }}">Add recipe</a>
</div>

{% endblock %}