{% extends 'base.html'%}

{% block content %}
<div class="row">
    <h3>Login</h3>
</div>
<div class="row">
    <div class="div">{{message}}</div>
</div>

<div class="row"><a href="{{url_for('register')}}">Register account</a></div>

<div class="row">
    <div class="addfield">click to add field to form</div>
    <form action="{{ url_for('check_credentials') }}" method="POST" class="col s12" id="testform">
        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="username" name="username" type="text" class="validate" value="">
                <label for="username">Your username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="email_address" name="email_address" type="text" class="validate" value="">
                <label for="email_address">Email Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 testdiv">
                <i class="material-icons prefix">playlist_add</i>
                <input id="password" name="password" type="text" class="validate" value="">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Send
                <i class="material-icons right">playlist</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}