{% extends 'base.html'%}

{% block content %}

<div id="recipeWrapper">
    <div class="recipe_head_wrapper">
        <div id="recipeTitle">{{recipe.title}}</div>
        <div class="dishType">{{recipe.dish_type}}</div>

        <div class="rateThisOne"><a href="{{ url_for('rate_recipe', recipe_id=recipe._id) }}">Rate This One!</a>
        </div>
        <div id="showReviewsPopupBtn">Reviews</div>

        <div class="editThisOne"><a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a></div>
        <div class="deleteThisOne"><a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete!</a>
        </div>
    </div>

    <div id="statsWrapper">
        <div class="statsfield">Added By:</div>
        <div class="statsfield">Date added:</div>
        <div class="statsfield">Time added:</div>
        <div class="statsfield">Level:</div>
        <div class="statsfield">Reviews:</div>
        <div class="statsfield">Viewed:</div>
        <div class="statsfield">{{recipe.added_by}}</div>
        <div class="statsfield">{{recipe.added_on_date}}</div>
        <div class="statsfield">{{recipe.added_on_time}}</div>
        <div class="statsfield">{{recipe.level}}</div>
        <div class="statsfield">{{recipe.review_count}}</div>
        <div class="statsfield">{{recipe.view_count}}</div>
    </div>


    <div id="dishImage">
        <img src="{{recipe.img_src}}" alt="image of dish">
    </div>


    <div class="row">
        <a href="{{ url_for('latest_added') }}">Back to latest recipes</a>
    </div>


    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <input id="recipe_title" name="recipe_title" type="text" class="validate" value="{{recipe.title}}">
            <label for="recipe_title">Recipe Title</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <input id="dish_type" name="dish_type" type="text" class="validate" value="{{recipe.dish_type}}">
            <label for="dish_type">Dish Type:</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <input id="level" name="level" type="text" class="validate" value="{{recipe.level}}">
            <label for="level">Sofistication</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <input id="prep_time" name="prep_time" type="text" class="validate" value="{{recipe.prep_time}}">
            <label for="prep_time">Preparation time</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <input id="cooking_time" name="cooking_time" type="text" class="validate" value="{{recipe.cooking_time}}">
            <label for="cooking_time">Cooking time</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <textarea id="directions" name="directions" value="{{recipe.directions}}"></textarea>
            <label for="directions">Directions</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <textarea id="allergens" name="allergens" value="{{recipe.allergens}}"></textarea>
            <label for="allergens">Allergens</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <textarea id="ingredients" name="ingredients" value="{{recipe.ingredients}}"></textarea>
            <label for="ingredients">Ingredients</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 testdiv">
            <i class="material-icons prefix">playlist_add</i>
            <input id="origin" name="origin" type="text" class="validate" value="{{recipe.origin}}">
            <label for="origin">Origin Country</label>
        </div>
    </div>




    <div id="reviewsPopup">
        <div id="reviewsWrapper">
            {% for review in reviews_of_recipe %}
            <div class="reviewContainer">
                <div class="reviewlines">{{review.review_for}}</div>
                <div class="reviewlines">{{review.review_title}}</div>
                <div class="reviewlines">{{review.rating}}</div>
                <div class="reviewlines">{{review.comment}}</div>
                <hr>
            </div>
            {% endfor %}
            <div id="closeReviewsPopupBtn">Close</div>
        </div>
    </div>
</div>
{% endblock %}