{% extends 'base.html'%}

{% block content %}
<div id="registerWrapper">
    <div class="headline">
        <h3>Register User</h3>
    </div>
    <div class="headline">
        <h4>{{message}}</h4>
    </div>
    <div class="headline">
        <h5>Have already an account? <a href="{{url_for('login_page')}}">Login here</a></h5>
    </div>

    <div class="row">
        <form action="{{ url_for('insert_user') }}" method="POST" class="col s12" id="registrationForm">
            <div class="row">
                <div class="input-field col s12 testdiv">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="username" name="username" type="text" class="validate" value="">
                    <label for="username">Your username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 testdiv">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="email_address" name="email_address" type="text" class="validate" value="">
                    <label for="email_address">Email Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 testdiv">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="password" name="password" type="text" class="validate" value="">
                    <label for="email_address">Password</label>
                </div>
                <div class="input-field col s12 testdiv">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="password2" name="password" type="text" class="validate" value="">
                    <label for="email_address">Password</label>
                </div>
            </div>
            <div class="buttonWrapper">
                <div class="btn waves-effect waves-light" id="registrationFormSendBtn"
                    onclick="checkRegistrationForm()">Register!</div>
            </div>
        </form>
    </div>
</div>
<div id="popupCheckForValidFields">
    <div id="resultCheckForValidFields"></div>
    <div class="buttonWrapperPopup">
        <div id="closeCheckForValidFieldsBtn" class="btn waves-effect waves-light"
            onclick="closeCheckForValidFieldsPopup()">Close</div>
    </div>
</div>
{% endblock %}